@charset "UTF-8";
.wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom:50px;
}
.title{
	padding-top:80px;
	padding-bottom:80px;
}
.title_text{
	color:#0041C2;
	font-size:35px;
	font-weight:800;
}
.list {
  width:960px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 5px solid #0041C2;
  border-bottom: 1px solid #0041C2;
}

.items {
  width:960px;
  font-size:17px;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  border-top: 1px solid #0041C2;
}
.items.active{
	width:959px;
	border-top: 3px solid #0041C2;
	border-left: 1px solid #0041C2;
	border-right: 1px solid #0041C2;
}

.a_title {
  display: block;
  padding: 20px;
  font-weight: bold;
  cursor: pointer;
}

.a_content {
  display: none;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: left;
  letter-spacing:0.3px;
  overflow: auto;
   word-break:break-all;
}
.active .a_content {
  display: block;
}
.a_icon{
	padding-right:10px;
	font-weight:600;
	color:#0041C2;
	font-size:19px;
}
